
{% import '_includes/forms.twig' as forms %}

    <h2 class="first">{{ "Control Panel"|t('_they-work-for-you') }}</h2>

    {{ forms.textField({
            class: "code",
            label: "API URL"|t('_they-work-for-you'),
            instructions: "Enter your API URL here.."|t('_they-work-for-you'),
            id: "apiUrl",
            name: "apiUrl",
            value: settings.apiUrl,
            errors: settings.getErrors("apiUrl"),
        }) }}

    {{ forms.textField({
            class: "code",
            label: "API key"|t('_they-work-for-you'),
            instructions: "Enter your API Key here.."|t('_they-work-for-you'),
            id: "apiKey",
            name: "apiKey",
            value: settings.apiKey,
            errors: settings.getErrors("apiKey"),
        }) }}
